div.bg {
  background-color: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  width: 100%;
  height: inherit;
  font-family: "Baloo Tamma 2";
  font-size: 22px;
  color: #FFFFFF;
}
div.main {
  height: 100%;
}
